*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;

}

body {
    margin:0;
    font-family:Inter;
    background-color: black;
    scroll-behavior: smooth;
}

.navbar {
  /* background-color: black; */
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: row-reverse;

}
.logo{
    padding:14px 16px ;
}
.logo a{
  display: flex;
  color: #f2f2f2;
  text-align: center;
  /* padding: 10px 12px; */
  text-decoration: none;
  font-size: 64pt;
  justify-content: center;
  font-family: 'Inter';


}
.logo a:hover
{
    font-size: 64pt;
    cursor: pointer;
}
.links
{
    display: flex;

}
.links a {
display: flex;
color: #f2f2f2;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 24pt;
  justify-content: center;
  font-family: 'Inter';

}
.links a:hover {
  background: #ddd;
  color: black;
  cursor: pointer;
}

.main {
  padding: 16px;
  margin-top: 30px;
  height: 1500px; /* Used in this example to enable scrolling */
}
.home {
  /* background-color: #333; */
  /* position: fixed; */
  /* margin-top: 10%; */
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}
.profimg
{
  padding:14px 16px ;

}
.profimg img{
  border-radius: 70px;
}
.righttext
{
  color: white;
  width: 40%;
  /* margin-top: -13%; */
}
.righttext p{
  margin-top: 10%;
  font-size: 20pt;
  font-family: 'Lohit Devanagari';

}
.righttext h1, h1 span{
  font-size: 30pt;
  font-weight: bold;
  font-family: 'Inter';

}
.righttext h1 span{
  color: #66B95C;
}

.righttext input
{
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  border-radius: 50px;
  width:256.65px;
  height: 94.94px;
  margin-top:15%;
}
.news
{
  width: 100%;
  height: 80vh;
  text-align: center;

}

.news h1, span{
  font-size: 30pt;
  font-weight: bold;
  font-family: 'Inter';
  color:white;
}
.new h1::after{
  content: '';
  width: 4px;
  height: 30px;
  border-radius: 10px;
  color: #66B95C;
  position: absolute;
}
.news h1 span{
  color: #66B95C;
}
.post
{
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  width: 100%;
}
.newpost{
  background-color: #706B6B;
  width: 25%;
  margin: 20px;
  /* justify-content: center; */
}
.newpost img 
{
  width: 100%;
}
.newpost figcaption
{
  font-size: 24pt;
  font-family: 'Inter';
  color:white;
  font-weight: bold;
}
