* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Euclid Circular A", Sans-serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
  background: #fff;
}

/* nav-start */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 5%;
  background: #04091e;
  align-items: center;
  height: 10vh;
  top: 0;
  position: sticky;
  z-index: 999;
}

nav img {
  width: 50px;
  height: 50px;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  margin: 0 20px;
}
nav ul li a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-size: 17px;
}

nav ul li a:hover {
  font-weight: bolder;
}
nav .icon {
  display: none;
  color: #fff;
}
/* nav-end */

/* home */

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  padding: 0 5%;
  top: 100px;
}

.home-disc {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: space-between;
  gap: 2rem;
  align-items: flex-start;
}
.home-disc span {
  text-transform: uppercase;
  font-size: medium;
  color: #04091e;
}
.home-disc p {
  font-size: 15px;
  color: #04091e;
  line-height: 30px;
}
.home-disc h1 {
  font-size: 30px;
  color: #04091e;
}
.home-disc .home-btn {
  background: #04091e;
  padding: 10px;
  color: #fff;
  width: 100px;
  height: 40px;
  border: 1px solid #04091e;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-disc .home-btn a {
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.home-disc .home-btn a:hover {
  font-weight: bolder;
}

.home-img {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.home-img img {
  width: 80%;
  border-radius: 10px;
  transition: filter 0.5s ease;
}

.home-img img:hover {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

/* home-end */

.about {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: fit-content;
  margin: 1% 0 0;
  background: rgba(202, 199, 199, 0.184);
}
.about-header {
  /* background: #04091e; */
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* position: relative; */
}
.about-header h1 {
  text-align: center;
  color: #000;
  font-weight: 600;
  font-size: 70px;
  text-transform: uppercase;
}
.about-img {
  justify-content: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5%;
}
.imag {
  width: 50%;
}
.about-content {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  justify-content: space-between;
}
.about-content span {
  text-transform: uppercase;
  font-size: x-large;
}
.about-content p {
  font-size: 20px;
}
.about-content h1 {
  font-size: 50px;
}
.about-content a {
  background: #04091e;
  line-height: 42px;
  padding: 0 30px 0 30px;
  margin-top: 30px;
  color: #fff;
  display: inline-block;
  font-weight: 500;
  position: relative;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-decoration: none;
  width: 40%;
  text-align: center;
}
.about-content a:hover {
  background: none;
  font-weight: 900;
  color: #000;
  box-shadow: 0 2px 4px #0000003d !important;
}

.tools {
  width: 100%;
  padding: 0 5% 5%;
  display: flex;
  flex-direction: column;
}
.tool {
  padding-top: 30px;
  font-size: 24px;
  text-align: left;
  font-family: "Poppins", sans-serif;
  color: #222222;
  line-height: 2em !important;
  font-weight: 600;
}
.services-content {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 10px;
  padding: 10px;
}
.services-box {
  /* background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%); */
  text-align: center;
  padding: 20px 0;
  font-size: 14px;
  color: #222222;
  box-shadow: 0 2px 4px #0000003d !important;
}
.services-box:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}

.lang {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  padding: 10px;
}
.prog {
  width: 100%;
  /* padding: 10px; */
}
.prog p {
  display: flex;
  justify-content: space-between;
  font-size: 18pt;
  font-weight: bold;
  color: #000000;
  line-height: 5rem;
}
.line1 {
  background: #000000;
  position: relative;
  height: 15px;
  border-radius: 20px;
}
.line1:before {
  content: "";
  background: rgba(253, 252, 252, 0.735);
  width: 80%;
  height: 15px;
  position: absolute;
  border-radius: 20px;
}
.line2 {
  background: #000000;
  position: relative;
  height: 15px;
  border-radius: 20px;
}
.line2:before {
  content: "";
  background: rgba(253, 252, 252, 0.735);
  width: 75%;
  height: 15px;
  position: absolute;
  border-radius: 20px;
}
.line1:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.line2:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.services {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  /* padding: 0 5%; */
  margin: 1% 0 0;
  background: rgba(202, 199, 199, 0.184);
}
.services-header {
  /* background: #04091e; */
  width: 100%;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-header h1 {
  text-align: center;
  color: #000;
  font-weight: 600;
  font-size: 70px;
}
.services-h2 {
  font-size: 36px;
  color: #222222;
  line-height: 1.2em !important;
  margin-bottom: 0;
  /* margin-top: 10px; */
  font-weight: 600;
}
.sercices-paragra {
  text-align: center;
  font-size: 18pt;
  width: 40%;
  /* margin:10px 0 20px; */
}
.service-card {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 50px;
  padding: 0 50px;
}
.service-card-child {
  width: 90%;
}
.service-card-child h3 {
  margin: 20px 0;
  text-align: center;
  font-size: 24px;
  font-family: "Poppins", sans-serif;
  color: #222222;
  line-height: 1.2em !important;
  font-weight: 600;
}
.service-card-child p {
  margin: 20px 0;
  text-align: center;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: #222222;
}

.service-card-child:hover {
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
.service-icontitle {
  text-align: center;
}
.service-card-child img {
  width: 50px;
}
.contact {
  height: 90vh;
  background: rgba(202, 199, 199, 0.184);
  display: flex;
  flex-direction: column;
  margin: 1% 0 0;
}
.contact-container {
  display: flex;
}

.info {
  width: 100%;
  display: inline-block;
  align-content: center;
}

.info input[type="text"],
input[type="email"],
textarea {
  width: 80%;
  padding: 12px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  /* margin-left: 10%; */
  margin-top: 10px;
  margin-left: 10%;
}

.info textarea {
  width: 80%;
  min-height: 120px;
  resize: none;
  overflow: auto;
  margin-left: 10%;
}

.info input[type="submit"] {
  width: 30%;
  padding: 12px 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-left: 35%;
  margin-top: 1%;
  background: #04091e;
  cursor: pointer;
  color: #fff;
  font-weight: bolder;
  font-size: 12pt;
}

/* footer-start */
footer .footer-container {
  height: 5vh;
  background: #04091e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  color: #fff;
}

footer .footer-container p {
  margin: 0;
}

footer .footer-container ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  gap: 20px;
  list-style: none;
}

footer .footer-container i {
  color: #fff;
}
/* footer-end*/

@media screen and (max-width: 856px) {
  nav .icon {
    display: block;
    font-size: 20px;
  }

  nav h1 {
    font-size: 15px;
    font-weight: 600;
    margin: 0;
  }

  nav ul {
    background: #04091e;
    height: 100vh;
    width: 200px;
    top: 0;
    right: -200px;
    padding-top: 50px;
    position: fixed;
    color: #fff;
    z-index: 2;
    transition: right 0.5s;
  }

  nav ul li {
    display: block;
    margin: 25px;
  }

  nav ul .icon {
    position: absolute;
    top: 25px;
    left: 25px;
    cursor: pointer;
  }
  .home {
    flex-direction: column-reverse;
    width: 100%;
    /* height: auto; */
    justify-content: space-around;
  }
  .home-disc {
    width: 100%;
    align-content: center;
  }
  .home-disc h1 {
    font-size: 25px;
    padding: 5% 0;
  }
  .home-disc a {
    width: 100%;
    text-align: center;
  }
  .home-img {
    width: 100%;
  }
  .home-img img {
    width: 100%;
  }
  .about {
    width: 100%;
    height: fit-content;
  }
  .about-img {
    flex-direction: column;
  }
  .imag {
    width: 100%;
  }
  .imag img {
    width: 100%;
    border-radius: 180px;
  }
  .about-content {
    width: 100%;
  }
  .about-content h1 {
    font-size: 28px;
    padding: 5% 0;
  }
  .about-content a {
    width: 100%;
    text-align: center;
  }
  .services-content {
    width: 100%;
    grid-template-columns: auto auto;
    gap: 5px;
    padding: 0px;
  }
  .services-box {
    font-size: 10px;
  }
  .lang {
    grid-template-columns: auto;
    gap: 10px;
    padding: 10px;
  }
  .services {
    height: fit-content;
  }
  .sercices-paragra {
    font-size: 14pt;
    width: 100%;
    padding: 2% 0;
  }
  .service-card {
    grid-template-columns: auto auto;
    gap: 5px;
    padding: 5px;
  }
  .service-card-child {
    width: 100%;
  }
  .service-card-child h3 {
    font-size: 20px;
  }
  .contact {
    width: 100%;
  }
  .contanct-address {
    width: 100%;
  }
  .info input[type="text"],
  input[type="email"],
  textarea {
    width: 95%;
    margin: 10px 2%;
  }

  .info textarea {
    width: 95%;
    margin: 10px 2%;
  }

  .info input[type="submit"] {
    width: 95%;
    margin: 10px 2%;
  }
}
