*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
.navbar 
{
    top:0;
    position: sticky;
    height: 10vh;
    background:linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    z-index: 100;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    box-shadow: 8px 8px 16px rgba(0, 0, 0, 0.2);
}
.logo
{
padding:8px
}
.logo a
{
    font-size:12px;
    text-transform: uppercase;
    text-decoration: none;
    color:black;
    text-align: center;
}
.logo a:hover
{
        cursor: pointer;
        color:#f0f0f5;
        font-weight: 600;

}
nav .nav-menu ul
{
    display: flex;
    list-style: none;

}
nav .nav-menu ul li a
{
    text-decoration: none;
    padding: 20px;
    color:#000000;
    text-transform: uppercase;

}
.nav-menu ul li a:hover
{
    color:#f0f0f5;
    font-weight: 600;
}

/* main
{
  padding: 16px;
} */
.home
{
    display: flex;
    justify-content:space-between;
    align-items:center;
    height: 90vh;
    padding: 0 5%;
    background: rgba(202, 199, 199, 0.184);
}

.home-disc
{
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 90vh;
    justify-content:center;
}
.home-disc span
{
    text-transform: uppercase;
    font-size: x-large;
}
.home-disc p
{
    font-size: 20px;
}
.home-disc h1
{
font-size:50px;
}
.home-disc a
{
    background:linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    line-height: 42px;
    padding: 0 30px 0 30px;
    margin-top: 30px;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    position: relative;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    text-decoration: none;
    width: 20%;
}
.home-disc a:hover
{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
.home-img
{
    width: fit-content;
}
.home-img img
{
    width: 650px;
    border-radius:50px ;
}
.home-img img:hover
{
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);

}
.about
{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    /* height: 90vh; */
    /* padding: 0 5%; */
    margin: 0;
    background: rgba(202, 199, 199, 0.184);
}
.about-header
{
    background: linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    width: 100%;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* position: relative; */
}
.about-header h1
{
    text-align: center;
    color:#fff;
    font-weight: 600;
    font-size: 50px;
}
.about-img
{
justify-content:center;
display: flex;
justify-content:space-between;
align-items:center;
padding:0 5%;
}
.imag
{
    width: 50%;
}
.about-content
{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content:center;
    justify-content: space-between;
}
.about-content span
{
    text-transform: uppercase;
    font-size: x-large;
}
.about-content p
{
    font-size: 20px;
}
.about-content h1
{
font-size:50px;
}
.about-content a
{
    background: linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    line-height: 42px;
    padding: 0 30px 0 30px;
    margin-top: 30px;
    color: #fff;
    display: inline-block;
    font-weight: 500;
    position: relative;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    text-decoration: none;
    width: 25%;
}
.about-content a:hover
{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}


.tools
{
width: 100%;
padding:0 5% 5%;
display: flex;
flex-direction: column;
}
.tool
{
    padding-top: 30px;
    font-size: 24px;
    text-align: left;
    font-family: "Poppins", sans-serif;
    color: #222222;
    line-height: 2em !important;
    font-weight: 600;
}
.services-content
{
width: 100%;
display: grid;
grid-template-columns: auto auto auto;
gap: 10px;
padding: 10px;
}
.services-box
{
    /* background: -webkit-linear-gradient(0deg, #8490ff 0%, #62bdfc 100%); */
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
    color:#222222;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}
.services-box:hover
{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

.lang
{
    display: grid;
    grid-template-columns: auto auto;
    gap:10px;
    padding:10px;
}
.prog
{
  width: 100%;
  /* padding: 10px; */
}
.prog p
{
  display: flex;
  justify-content: space-between;
  font-size: 18pt;
  font-weight: bold;
  color:#000000;
  line-height: 5rem;
}
.line1 {
    background:#000000;
    position:relative;
    height:15px;
    border-radius: 20px;
}
.line1:before {
    content:'';
    background: rgba(253, 252, 252, 0.735);
    width:80%;
    height:15px;
    position:absolute;    
    border-radius: 20px;
}
.line2 {
    background:#000000;
    position:relative;
    height:15px;
    border-radius: 20px;
}
.line2:before {
    content:'';
    background: rgba(253, 252, 252, 0.735);
    width:75%;
    height:15px;
    position:absolute;    
    border-radius: 20px;
}
.line1:hover
{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.line2:hover
{
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}
.services
{
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items:center;
    height: 90vh;
    /* padding: 0 5%; */
    margin: 0;
    background: rgba(202, 199, 199, 0.184);
}
.services-header
{
    background: linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.services-header h1
{
    text-align: center;
    color:#fff;
    font-weight: 600;
    font-size: 50px;
}
.services-h2
{
    font-size: 36px;
    color: #222222;
    line-height: 1.2em !important;
    margin-bottom: 0;
    /* margin-top: 10px; */
    font-weight: 600;
}
.sercices-paragra
{
    text-align: center;
    font-size: 18pt;
    width: 40%;
    /* margin:10px 0 20px; */
}
.service-card
{
    display: grid;
    grid-template-columns: auto auto auto;
    gap:50px;
    padding: 0 50px;
}
.service-card-child
{
    width: 90%;
}
.service-card-child h3
{
margin: 20px 0;
text-align: center;
font-size: 24px;
font-family: "Poppins", sans-serif;
color: #222222;
line-height: 1.2em !important;
font-weight: 600;
}
.service-card-child p
{
margin: 20px 0;
text-align: center;
font-size: 16px;
font-family: "Poppins", sans-serif;
color: #222222;
}

.service-card-child:hover
{
box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.5);
}
.service-icontitle
{
    text-align: center;
}
.service-card-child img
{
    width: 50px;
}
.contact
{
    height: 90vh;
    background: rgba(202, 199, 199, 0.184);
    display: flex;
    flex-direction: column;
}
.contact-container
{
    display: flex;
}
.contanct-address
{
    display: flex;
    flex-direction: column;
}
.contanct-address img
{
    width: 50px;
}
.contact-address-card {
    display: flex;
}
.info
{
    width: 60%;
    display: inline-block;
    margin-left: 20%;
    margin-top: 5%;
}

.info input[type=text],input[type=email],textarea {
    width: 80%;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    /* margin-left: 10%; */
    margin-top: 10px;
}

.info textarea {
    width: 80%;
    min-height: 120px;
    resize: none;
    overflow: auto;
}

.info input[type="submit"] 
{
    width: 150px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-left: 30%;
    margin-top: 1%;
    background: linear-gradient(0deg, #8490ff 0%, #62bdfc 100%);
    cursor: pointer;
    color: #fff;
    font-weight: bolder;
    font-size: 12pt;
} 
footer {
    text-align: center;
    /* padding: 100px; */
    background: #04091e;;
    color: white;
  }
  ul.home-social{
    /* position: absolute; */
    right:10px;
    top:230px;
    display:flex;
    list-style: none;
    justify-content: center;
}
ul.home-social li a i{
    padding: 8px;
    background: #f2f2f2;
    color:#292929;
    margin-bottom: 5px;
    border-radius: 5px;
    transition: .3s;
    margin: 10px;
}
ul.home-social li a:hover i{
    color:#ffffff;
    background: #04091e;;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
@media only screen and (max-width: 768px) {
.navbar
{
width: 100%;
}
.nav-menu
{
display: none;
}
.home
{
flex-direction: column-reverse;
width: 100%;
height: fit-content;
}
.home-disc
{
width: 100%;
align-content: center;
}
.home-disc h1
{
font-size:25px;
padding: 5% 0;
}
.home-disc a
{
width: 100%;
text-align: center;
}
.home-img
{
width: 100%;
}
.home-img img
{
width: 100%;
}
.about
{
width:100%;
height: fit-content;
}
.about-img
{
flex-direction: column;
}
.imag
{
    width: 100%;
}
.imag img
{
    width: 100%;
    border-radius: 180px;
}
.about-content
{
    width: 100%;
}
.about-content h1
{
font-size:28px;
padding:5% 0;
}
.about-content a
{
    width: 100%;
    text-align: center;
}
.services-content
{
width: 100%;
grid-template-columns: auto auto;
gap: 5px;
padding: 0px;
}
.services-box
{
    font-size: 10px;
}
.lang
{
    grid-template-columns:  auto;
    gap:10px;
    padding:10px;
}
.services
{
height: fit-content;
}
.sercices-paragra
{
    font-size: 14pt;
    width: 100%;
    padding: 2% 0;
}
.service-card
{
    grid-template-columns: auto auto;
    gap:5px;
    padding:5px;
}
.service-card-child
{
    width: 100%;
}
.service-card-child h3
{
font-size: 20px;
}
.contact
{
    height: fit-content;
}
}
